/* RealTimeWeather.css */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #6dd5ed, #2193b0); 
}

.app-container {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 480px; /* Set a max-width for larger devices */
  margin: 0 auto; /* Center the container */
  padding: 20px;
  box-sizing: border-box; /* Include padding in the width */
}

.min-h-screen {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.search-group {
  margin-right: 10px;
  width: 150vh; 
  display: flex;
  flex-direction: row;
  margin-bottom: 20px; 
}

/* Customize your LocationInput component as needed */
.location-input {
  width: 200vh;
  padding: 15px 20px;
  border: 2px solid #fff; /* White border for the input */
  border-radius: 25px; /* Rounded corners for the input */
  font-size: 1rem; /* Larger font size for readability */
  color: #333; /* Darker text for contrast */
  background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white */
  margin-right: 10px; /* Space between input and search button */
  box-sizing: border-box; /* Include padding and border in the width */
}

/* Additional styling for buttons and interactive elements */
button {
  padding: 10px 15px;
  margin: 0 5px;
  border: none;
  border-radius: 50%; /* Circular shape for buttons */
  background-color: #fff; /* White background for buttons */
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

button:hover {
  background-color: #e6e6e6; /* Light grey background on hover */
}


/* Error message styling */
.error-message {
  color: #ff6b6b;
  text-align: center;
  margin-top: 20px;
}


/* Responsive styles */
@media (max-width: 768px) {
  .app-container {
    padding: 10px; /* Less padding on smaller screens */
  }

  .location-input,
  button {
    padding: 10px; /* Smaller padding for inputs and buttons */
  }
}

