.min-h-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background: linear-gradient(to bottom,#f6f6d5, #65c1f0);
    color: #333;
    box-sizing: border-box;
}

.weather-app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
.weather-display-card {
    background-color: skyblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
.error {
    color: red;
}
  

.transition-colors {
    transition: background-color 0.5s ease-in-out;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

section {
    width: 100%;
    max-width: 250vh; 
    margin-bottom: 20px;
}

.location-input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.location-input {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: calc(100% - 50px); /* Adjust width based on button width */
}

.search-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}

/* Error message styles */
.error-message {
    background-color: #ffe5e5;
    color: #d32f2f;
    padding: 15px;
    border-radius: 4px;
    text-align: center;
    margin: 20px 0;
}

/* Loading spinner placeholder */
.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Arbitrary height to make spinner visible */
}

/* Forecast time sections */
.forecast-section {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.forecast-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-align: center;
}

.forecast-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.forecast-item {
    flex: 1 1 45%; /* Allows two items per row with some spacing */
    margin-bottom: 10px;
    text-align: center;
}
